{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Authentic Experience plugin for Craft CMS 3.x
 *
 * SmartModel Field Input
 *
 * @author    Authentic F&F
 * @copyright Copyright (c) 2018 Authentic F&F
 * @link      https://authenticff.com
 * @package   AuthenticExperience
 * @since     0.1
 */
#}

{% import "_includes/forms" as forms %}

{{ forms.elementSelect({
    id: smartModelAssetId,
    name: smartModelAssetName,
    viewMode: "large",
    elements: smartModelAssetElements,
    elementType: smartModelAssetElementType,
    criteria: {
      kind: []
    },
    jsClass: 'Craft.AssetSelectInput',
    selectionLabel: "Select File",
    sources: smartModelAssetSources,
    limit: 1,
    warning: false,
}) }}

{{ forms.editableTableField({
    label: "Features",
    instructions: "[something goes here]",
    id: smartModelFeaturesId,
    name: smartModelFeaturesName,
    cols: {
        featureTitle: {
            type: 'singleline',
            heading: "Feature Title",
        },
        featureBody: {
            type: 'multiline',
            heading: "Feature Body"
        },
        featureCoordinates: {
            type: 'singleline',
            heading: "Feature Coordinates"
        },
        featureCaptureCoordinates: {
            type: 'html',
            heading: "Capture Coordinates"
        },
    },
    rows: smartModelFeaturesRows,
    staticRows: false,
    errors: []
}) }}

{# {{ forms.elementSelect({
    id: "smartModelAssetIds",
    name: "smartModelAssetIds",
    viewMode: "large",
    elements: smartModelAssetElements,
    elementType: elementType,
    criteria: {
    },
    jsClass: 'Craft.AssetSelectInput',
    selectionLabel: "Select File",
    sources: [],
    limit: 1,
    warning: false,
}) }} #}

<div id="gltf-viewer">
  <div class="viewer">
    &nbsp;
  </div>
</div>
